.MuiBox-root {
  max-width: 400px;
  @media screen and (min-width: 769px) {
    max-width: 800px;
  }
  input {
    width: 100%;
  }
  button {
    width: 100%;
  }
  .input-group {
    flex-direction: column;
    .col {
      margin-top: 10px;
    }
  }
}
